body {
  background: rgba(2, 0, 36) 0%;
  background: linear-gradient(
    90deg,
    rgb(56, 55, 83) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(7, 160, 190, 0.692) 100%
  );
  width: 100%;
}

body::-webkit-scrollbar {
  width: 1rem; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: blueviolet; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-image: url(../assets/pickle-rick.jpg);
  background-repeat: no-repeat; /* color of the scroll thumb */
  margin: 20px;
  border: 0.1rem solid blue;
  border-radius: 1rem;
}

p {
  color: #fff;
  text-align: center;
  font-size: larger;
  font-style: oblique;
}

h1 {
  color: #fff;
  background-color: initial;
  position: absolute;
  margin-top: 3rem;
  left: 50%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  transform: translate(-50%, -50%);
}

h2 {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3.5rem;
}

h3 {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3.5rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  max-width: 62rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.85rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #478891;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}

.sidenav a {
  padding: 1.5rem 0rem 0rem 2rem;
  text-decoration: solid;
  font-size: 1.563rem;
  color: white;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #413d3d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 2.25rem;
}

a.closebtn {
  padding: 0;
  right: 1rem;
}

@media screen and (max-height: 28.125rem) {
  .sidenav {
    padding-top: 0rem;
  }
  .sidenav a {
    font-size: 1.125rem;
  }
}

.footer {
  position: absolute;
  width: 100%;
  height: 7rem;
  color: white;
  text-align: center;
  background-color: darkblue;
}

.darkThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.lightThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.288);
  transition: 0.5s;
  width: 12.51rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0.3rem 1rem 0 rgba(36, 184, 184, 0.781);
}

.cardBtn {
  padding: 20rem;
}

.container {
  padding: 0.125rem 1rem;
  flex-direction: column;
}

.home {
  margin-left: 5rem;
}

.footer-basic {
  padding: 40px 0;
  background-color: rgb(17, 49, 109);
  color: black;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
