body {
  background-color: #26292a;
}
h1 {
  color: white;
  text-align: center;
}
.flex {
  max-width: 30rem;
  padding: 1rem;
  border: 0.2rem solid white;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.item {
  background-color: rgb(22, 151, 151);
  margin: 0.25rem;
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #478891;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}

.sidenav a {
  padding: 1.5rem 0rem 0rem 2rem;
  text-decoration: solid;
  font-size: 1.563rem;
  color: white;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #413d3d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 2.25rem;
}

a.closebtn {
  padding: 0;
  right: 1rem;
}

@media screen and (max-height: 28.125rem) {
  .sidenav {
    padding-top: 0rem;
  }
  .sidenav a {
    font-size: 1.125rem;
  }
}

.darkThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
}
.lightThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
}
