body {
  background-color: #26292a;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

.flex-container {
  display: flex;
  border: 0.063rem solid #cacaca;
  max-width: 31.25rem;
  margin-bottom: 0.625rem;
  height: 12.5rem;
  margin-left: auto;
  margin-right: auto;
}
.default {
  flex-direction: row nowrap;
}
.wrap {
  flex-flow: row wrap;
}
.wrap-reverse {
  flex-flow: row wrap-reverse;
}
.r-nowrap {
  flex-flow: row-reverse nowrap;
}
.r-wrap {
  flex-flow: row-reverse wrap;
}
.rr-wrap {
  flex-flow: row-reverse wrap-reverse;
}
.item {
  background-color: blueviolet;
  margin: 0.313rem;
  color: white;
  text-align: center;
  width: 6.25rem;
  height: 3.125rem;
  line-height: 3.125rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #478891;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}

.sidenav a {
  padding: 1.5rem 0rem 0rem 2rem;
  text-decoration: solid;
  font-size: 1.563rem;
  color: white;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #413d3d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 2.25rem;
}

a.closebtn {
  padding: 0;
  right: 1rem;
}

@media screen and (max-height: 28.125rem) {
  .sidenav {
    padding-top: 0rem;
  }
  .sidenav a {
    font-size: 1.125rem;
  }
}

.darkThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
}
.lightThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
}
