body {
  background-color: #26292a;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

.container {
  max-width: 350px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.item {
  background-color: blueviolet;
  margin: 5px;
  color: white;
  text-align: center;
  flex: 1;
}

.center {
  align-items: center;
}

.stretch {
  align-items: stretch;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.baseline {
  align-items: baseline;
}

.column {
  flex-direction: column;
}

.central {
  height: 18.75rem;
  justify-content: center;
}

.central .item {
  flex: 0;
  padding: 1.25rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #478891;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 3.75rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}

.sidenav a {
  padding: 1.5rem 0.5rem 0.5rem 2rem;
  text-decoration: solid;
  font-size: 1.563rem;
  color: #000;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1.563rem;
  font-size: 2.25rem;
  margin-left: 3.125rem;
}

@media screen and (max-height: 28.125rem) {
  .sidenav {
    padding-top: 0.938rem;
  }
  .sidenav a {
    font-size: 1.125rem;
  }
}

.darkThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
}
.lightThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
}
