body {
  background-color: #26292a;
}
h2 {
  color: white;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

.sidenav a {
  padding: 1.5rem 0rem 0rem 2rem;
  text-decoration: solid;
  font-size: 1.563rem;
  color: white;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #413d3d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 2.25rem;
}

a.closebtn {
  padding: 0;
  right: 1rem;
}

@media screen and (max-height: 28.125rem) {
  .sidenav {
    padding-top: 0rem;
  }
  .sidenav a {
    font-size: 1.125rem;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.container {
  height: 25rem;
  max-width: 21.875rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
}

.item {
  background-color: orangered;
  padding: 0 0.313rem;
  margin: 0.313rem;
  flex: 1;
  text-align: center;
  color: white;
}

.stretch {
  align-content: stretch;
}

.center {
  align-content: center;
}

.flex-start {
  align-content: flex-start;
}

.flex-end {
  align-content: flex-end;
}

.space-around {
  align-content: space-around;
}

.space-between {
  align-content: space-between;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #478891;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}

.sidenav a {
  padding: 1.5rem 0rem 0rem 2rem;
  text-decoration: solid;
  font-size: 1.563rem;
  color: white;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #413d3d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 2.25rem;
}

a.closebtn {
  padding: 0;
  right: 1rem;
}

@media screen and (max-height: 28.125rem) {
  .sidenav {
    padding-top: 0rem;
  }
  .sidenav a {
    font-size: 1.125rem;
  }
}

.darkThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
}
.lightThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
}
