body {
  background-color: #26292a;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

h1 {
  color: goldenrod;
  text-align: center;
}

h2 {
  color: wheat;
  padding-top: 2.5rem;
  text-align: center;
  text-decoration: underline;
}

h3 {
  color: goldenrod;
  padding-top: 2.5rem;
  text-align: center;
}

div {
  color: wheat;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #478891;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}

.sidenav a {
  padding: 1.5rem 0rem 0rem 2rem;
  text-decoration: solid;
  font-size: 1.563rem;
  color: white;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #413d3d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 2.25rem;
}

a.closebtn {
  padding: 0;
  right: 1rem;
}

@media screen and (max-height: 28.125rem) {
  .sidenav {
    padding-top: 0rem;
  }
  .sidenav a {
    font-size: 1.125rem;
  }
}

.darkThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
}

.lightThemeBt {
  float: right;
  background-color: transparent;
  border: 0;
}

.flex-container {
  max-width: 21.875rem;
  border: 0.063rem solid gray;
  margin-bottom: 0.625rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.align-container {
  align-items: center;
}

.item {
  background-color: brown;
  color: wheat;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}

.center {
  align-self: center;
}

.start {
  align-self: flex-start;
}

.end {
  align-self: flex-end;
}

.baseline {
  align-self: baseline;
}

.stretch {
  align-self: stretch;
}

.auto {
  align-self: auto;
}

.direction {
  flex-direction: column;
}
